{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
<div class="jumbotron">
<h1>Welcome to Bakchods details page:</h1>
<h2>Bakchods Details:</h2>
<p>Name: {{bakhood_detail.name}}</p>
<p>Real Name: {{bakhood_detail.real_name}}</p>
<p>Favourite Pstar: {{bakhood_detail.fav_p}}</p>

<h3>Sons: </h3>

<table style="width:100%">
    <tr>
    <th>Name</th>
    <th>Age</th> 
    <th>Father</th>
    </tr>
    <tr>
{% for son in bakhood_detail.sons.all %}

    <td><p>{{son.name}}</p></td>
    <td><p>{{son.age}}</p></td>
    <td><p>{{son.father}}</p></td>
    </tr>

{% endfor %}</table>

</div>

<div class="container">
<p><a class="btn btn-warning" href="{% url 'app:bakupdate' pk=bakhood_detail.pk %}">Update</a></p>
</div>

{% endblock %}