<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Base</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<ul class="navbar-nav">
<li class="navbar-item"><a class="navbar-brand mb-0 h1" href="{% url 'index' %}">Bakchod Home</a></li>
<li class="navbar-item"><a class="nav-link" href="{% url 'app:baklist' %}">Bakchods List</a></li>&nbsp;&nbsp;
<li class="navbar-item"><a class="nav-link" href="{% url 'app:sonlist' %}">Sons List</a></li>&nbsp;&nbsp;
<li class="navbar-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>&nbsp;&nbsp;
</ul>
</nav>

<div class="container">
    {% block body_block %}
    
    
    {% endblock %}
</div>


    

</body>
</html>